

<h2>{* activity.name *}</h2>
<div>
  	<a href="#/activity/{*activity.id *}">{* activity.name *}</a>

  	<em>by <a href="#/user/{*activity.creator.id *}">{* activity.creator.name *}</a>
  	 +{* activity.upvotes*} / -{* activity.downvotes*} /
  	 total {* activity.upvotes - activity.downvotes*}</em>

  	<a ng-click="vote(1)" href="">yay:)</a> /
    <a ng-click="vote(-1)" href="">nay:(</a> ///
    <a ng-show="!activity.is_faved" ng-click="fav(true)" href="">I want to do this!</a>
    <a ng-show="activity.is_faved" ng-click="fav(false)" href="">Remove from my list</a> //
    <a ng-show="!activity.is_done" ng-click="done(true)" href="">I've done that</a>
  	<a ng-show="activity.is_done" ng-click="done(false)" href="">Remove from my done list</a>
    <p ng-show="activity.description">{* activity.description*}</p>
    <p><span class="badge" ng-repeat="tag in activity.tags">{* tag *}</span></p>
    <p><span class="badge">{* activity.category *}</span></p>

    <input ng-model="newTags"><button ng-click="addTags(newTags)">add</button>

</div>

<div><span ng-repeat="tag in tags" class="badge">{* tag.name *}</span></div>
