<h1>{* city *}</h1>

<div>
  Add new activity:
  <input ng-model="newActivity"><br>
  <textarea ng-model="newActivityDesc" placeholder="description"></textarea><br>
  <button ng-click="addActivity()">add</button>
</div>

<div>
<h2>Activities</h2>
<ul>
  <li ng-hide="activities.length">No activities proposed for this city yet.</li>
  <li ng-repeat="activity in activities">
  	<a href="#/city/{* city *}/activity/{*activity.id *}">{*activity.name*}</a>

  	<em>by <a href="#/user/{*activity.creator.id *}">{* activity.creator.name *}</a>
  	 +{* activity.upvotes*} / -{* activity.downvotes*} /
  	 total {* activity.upvotes - activity.downvotes*}</em>

  	<a ng-click="vote(activity, 1)" href="">yay:)</a> /
    <a ng-click="vote(activity, -1)" href="">nay:(</a> ///
    <a ng-show="!activity.is_faved" ng-click="fav(activity, true)" href="">I want to do this!</a>
    <a ng-show="activity.is_faved" ng-click="fav(activity, false)" href="">Remove from my list</a> //
    <a ng-show="!activity.is_done" ng-click="done(activity, true)" href="">I've done that</a>
  	<a ng-show="activity.is_done" ng-click="done(activity, false)" href="">Remove from my done list</a>
    <p ng-show="activity.description">{* activity.description*}</p>
  </li>

</ul>
</div>




