<h1>{* city *}</h1>

<div>
  Add new activity:
  <input ng-model="newActivity"><br>
  <textarea ng-model="newActivityDesc" placeholder="description"></textarea><br>
  <button ng-click="addActivity()">add</button>
</div>

<div>
<h2>Activities</h2>
<ul>
  <li ng-hide="activities.length">No activities proposed for this city yet.</li>
  <li ng-repeat="activity in activities">
  	<a href="#/activity/{*activity.id *}">{*activity.name*}</a>

  	<em>by <a href="#/user/{*activity.creator.id *}">{* activity.creator.name *}</a>
  	 +{* activity.upvotes*} / -{* activity.downvotes*} /
  	 total {* activity.upvotes - activity.downvotes*}</em>

  	<a ng-click="vote(activity.id, true)" href="">yay:)</a> /
    <a ng-click="vote(activity.id, false)" href="">nay:(</a> ///
    <a ng-show="!activity.is_faved" ng-click="fav(activity.id, true)" href="">I want to do this!</a>
  	<a ng-show="activity.is_faved" ng-click="fav(activity.id, false)" href="">Remove from my list</a>
    <p ng-show="activity.description">{* activity.description*}</p>
  </li>

</ul>
</div>




